-- Tambahkan kolom assignment ke table tasks
ALTER TABLE tasks ADD COLUMN assigned_to UUID REFERENCES auth.users(id);
ALTER TABLE tasks ADD COLUMN assigned_at TIMESTAMP;
ALTER TABLE tasks ADD COLUMN assigned_by UUID REFERENCES auth.users(id);

-- Index untuk performa
CREATE INDEX idx_tasks_assigned_to ON tasks(assigned_to);
CREATE INDEX idx_tasks_assigned_at ON tasks(assigned_at);
